IoTSensorDataProcessing/IoTSensorDataProcessing.Sensor/Service References/ServerReference/Server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Server" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50305/Server?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50305/Server?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50305/Server?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IoTSensorDataProcessing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServer_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IServer_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_SearchNeighbour_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchNeighbour" />
  </wsdl:message>
  <wsdl:message name="IServer_SearchNeighbour_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchNeighbourResponse" />
  </wsdl:message>
  <wsdl:message name="IServer_StoreMeasurement_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreMeasurement" />
  </wsdl:message>
  <wsdl:message name="IServer_StoreMeasurement_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreMeasurementResponse" />
  </wsdl:message>
  <wsdl:portType name="IServer">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/Register" message="tns:IServer_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/RegisterResponse" message="tns:IServer_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchNeighbour">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/SearchNeighbour" message="tns:IServer_SearchNeighbour_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/SearchNeighbourResponse" message="tns:IServer_SearchNeighbour_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreMeasurement">
      <wsdl:input wsaw:Action="http://tempuri.org/IServer/StoreMeasurement" message="tns:IServer_StoreMeasurement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServer/StoreMeasurementResponse" message="tns:IServer_StoreMeasurement_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServer" type="tns:IServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IServer/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchNeighbour">
      <soap:operation soapAction="http://tempuri.org/IServer/SearchNeighbour" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreMeasurement">
      <soap:operation soapAction="http://tempuri.org/IServer/StoreMeasurement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Server">
    <wsdl:port name="BasicHttpBinding_IServer" binding="tns:BasicHttpBinding_IServer">
      <soap:address location="http://localhost:50305/Server" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>