IoTSensorDataProcessing/IoTSensorDataProcessing.Sensor/Service References/ServerReference/Server1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IoTSensorDataProcessing" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IoTSensorDataProcessing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAddress" nillable="true" type="tns:UserAddress" />
</xs:schema>